@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar-thumb {
  background-color: blueviolet;
  border-radius: 0.5rem;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

@layer components {
  .link {
    @apply flex flex-row justify-around items-center bg-gray-800  py-2 px-3 rounded-full hover:rounded-md transition-all text-emerald-500 hover:bg-emerald-500 hover:text-white font-bold group-hover:w-fit;
  }

  .link-text {
    white-space: nowrap;
    transition: all 1s;
    @apply ml-4 hidden group-hover:block;
  }
}
